* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 20vh auto 20vh;
  font-family: sans-serif;
  height: 100vh;
  min-height: -webkit-fill-available;
  width: 100vw;
  margin: 0;
  padding: 0;
  position: fixed;
}

.header, footer {
  padding: 1rem;
  position: relative;
}

.header {
  /* justify-content: flex-start; */
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /* display: flex;
  align-items: flex-start; */
}

h1 {
  font-size: clamp(1rem, 4vw, 4rem);
}

.main {
  /* perspective: 900px; */
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ****************************************************************** BUTTON */
button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  word-break: break-all;
  word-break: break-word;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-animation: button-text-color 2s infinite linear alternate;
          animation: button-text-color 2s infinite linear alternate;
}

button.no_click {
  pointer-events: none;
}

button:active {
  color: #ff0000;
  -webkit-animation: none;
          animation: none;
}

/* ****************************************************************** COUNTDOWN */
.header .countdown_div, 
.footer .countdown_div {
  font-family: 'Autour One';
  font-size: 9vh;
  position: absolute;
  text-align: center;
  z-index: -2;
  transition: opacity .2s ease-in-out;
}
.header .countdown_div {
  top: 2vh;
  right: 2vh;
}

.footer .countdown_div {
  bottom: 2vh;
  left: 2vh;
}


.countdown_div::after {
  content: '';
  opacity: .2;
  transition: opacity .5s ease-in;
  color: #ff0000;
}

.countdown {
  z-index: 2;
}

.countdown::after {
  content: '5';
  -webkit-animation: countdown 5s linear;
          animation: countdown 5s linear;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

/* ****************************************************************************** SWITCH CLASSES */
/* ****************************************************************** CUBE */
.btn_cube {
  --size: 5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  width: var(--size);
  margin: 0 auto;
  transform-style: preserve-3d;
  border: 1px solid black;
  background: #fff;
  transform: rotateX(40deg) rotatez(26deg);
  -webkit-transform: rotateX(40deg) rotatez(26deg);
  height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .1s ease-in-out;
  
  font-family: 'Press Start 2P'; 
  font-size: 1.3rem;
  text-align: center;
}

.btn_cube:active {
  transform: rotateX(40deg) rotatez(26deg) translateZ(-5rem);
  -webkit-transform: rotateX(40deg) rotatez(26deg) translateZ(-5rem);
  transition: transform 0.2s;
}

.btn_cube::before,
.btn_cube::after {
  content: '';
  position: absolute;
  width: var(--size);
  height: var(--size);
  transform-origin: -2% -2%;
  border: 1px solid black;
  transition: all .1s ease-in-out;
  
}

.btn_cube::before {
  top: 100%;
  left: -3%;
  transform: rotateX(-90deg);
  -webkit-transform: rotateX(-90deg);
}

.btn_cube::after {
  top: -3%;
  left: 102%;
  border-bottom: none;
  transform: rotateY(90deg);
  -webkit-transform: rotateY(90deg);
}

.btn_cube:active::before {
  height: 0;
  transition: height .2s;
}

.btn_cube:active::after {
  width: 0;
  transition: width .2s;
}

/* ****************************************************************** CLOUD */
.btn_cloud {
  font-family: 'Monoton';
  font-size: 5rem;
  
  position: relative;
  width: 15rem;
  height: 15rem;
  background: #fff;
  margin: auto;
  border: 1px solid #f4f4f4;
  border-radius: 1rem;
  border-bottom: 1px solid #f4f4f4;
  box-shadow: 0px 6px 33px -13px #949393, inset 4px -2px 20px -13px #949393;
  -webkit-animation: shadow-up 2s ease-in-out, button-text-color 2s infinite linear alternate;
          animation: shadow-up 2s ease-in-out, button-text-color 2s infinite linear alternate;
  -webkit-animation-delay: 0, .4s;
          animation-delay: 0, .4s;
  transition: all .2s ease;
}

.btn_cloud::before,
.btn_cloud::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
  /* border-top-left-radius: 0;
  border-top-right-radius: 0; */
}

.btn_cloud::before {
  bottom: 0;
  left: 0;
}

.btn_cloud:active {
  border-top: 1px solid #f4f4f4;
  border-radius: 1rem;
  box-shadow: none;
  transition: all .4s ease;
  -webkit-animation: none;
          animation: none;
}

/* ****************************************************************** ANIMATIONS */
@-webkit-keyframes draw-up {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: calc(100% - 1rem);
    opacity: 1;
    bottom: 0;
    left: 0;
    border-left: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4;
  }
}
@keyframes draw-up {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: calc(100% - 1rem);
    opacity: 1;
    bottom: 0;
    left: 0;
    border-left: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4;
  }
}

@-webkit-keyframes shadow-up {
  from {
    box-shadow: -28px 30px 54px -59px #949393;
  }
  to {
    box-shadow: 0px 6px 33px -13px #949393, inset 4px -2px 20px -13px #949393;
  }
}

@keyframes shadow-up {
  from {
    box-shadow: -28px 30px 54px -59px #949393;
  }
  to {
    box-shadow: 0px 6px 33px -13px #949393, inset 4px -2px 20px -13px #949393;
  }
}

@-webkit-keyframes button-text-color {
  from {
    color: #ff0000;
  }
  to {
    color: #fffbfb;
  }
}

@keyframes button-text-color {
  from {
    color: #ff0000;
  }
  to {
    color: #fffbfb;
  }
}

@-webkit-keyframes countdown {
  0% {
    content: '5';
  }

  25% {
    content: '4';
  }
  
  50% {
    content: '3';
  }
  
  75% {
    content: '2';
  }
  
  100% {
    content: '1';
  }
}

@keyframes countdown {
  0% {
    content: '5';
  }

  25% {
    content: '4';
  }
  
  50% {
    content: '3';
  }
  
  75% {
    content: '2';
  }
  
  100% {
    content: '1';
  }
}