body {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 20vh auto 20vh;
  font-family: sans-serif;
  height: 100vh;
  width: 100vh;
  margin: 0;
  padding: 0;
}

.header, footer {
  padding: 1rem;
}

.main {
  perspective: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.btn_cube {
    --size: 5rem;
    appearance: none;
    position: relative;
    width: var(--size);
    margin: 0 auto;
    transform-style: preserve-3d;
    border: 1px solid black;
    background: #fff;
    transform: rotateX(40deg) rotatez(26deg);
    height: var(--size);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform .1s ease-in-out;
    font-size: 22px;
  }
  
  .btn_cube:active {
    transform: rotateX(40deg) rotatez(26deg) translateZ(-5rem);
    transition: transform 0.2s;
  }
  
  .btn_cube::before,
  .btn_cube::after {
    content: '';
    position: absolute;
    width: var(--size);
    height: var(--size);
    transform-origin: -2% -2%;
    border: 1px solid black;
    transition: all .1s ease-in-out;

}

.btn_cube::before {
  top: 100%;
  left: -3%;
  transform: rotateX(-90deg);
}

.btn_cube::after {
    top: -3%;
    left: 102%;
    border-bottom: none;
    transform: rotateY(90deg);
}

.btn_cube:active::before {
    height: 0;
    transition: height .2s;
}

.btn_cube:active::after {
    width: 0;
    transition: width .2s;
}